<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.dao.CountryDao">
	<sql id="columnSql">
		id,countryname,countrycode
	</sql>
	<insert id="save" parameterType="Country">
		INSERT INTO country(
		<include refid="columnSql" />
		)
		VALUES(#{id},#{countryname},#{countrycode})
	</insert>
</mapper>